@charset "UTF-8";

/*Fontes_Externas=========================================================================*/
@font-face {
  font-family: 'Bebas';
  src: url('../fontes/BebasNeue-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Tiny";
  src: url('../fontes/Tiny5-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}



/*Raiz====================================================================================*/
:root{
  --cor1:#DFF5EA;
  --cor2:#7CFAE7;
  --cor3:#7FE4FA;
  --cor4:#19D2FA;
  --cor5:#379AFA;
  --cor6:#5F7DFA;

  --fonte-padrao: Arial, Helvetica, sans-serif;
  --fonte-bebas: 'Bebas';
  --fonte-tiny: 'Tiny';
}



/*Configurações_Gerais====================================================================*/
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: var(--fonte-padrao);
}



/*Div.main*/
div.main {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}



/*Table================================================================================================*/
table {
    margin: auto;
}

table td {
    padding: 0px 20px 0px 20px;
}

table td p {
    font-family: var(--fonte-bebas);
    text-align: center;
    display: inline-block;
    padding: 5px;
    min-width: 250px;
    background-color: rgba(0, 0, 0, 0.2);
    color: black;
    font-size: 1.1em;
}

table td div#qrcode {
    
}

table td div#qrcode img {
  max-width: 250px;  
}



/*@media===============================================================================================*/
@media (max-width: 600px) {
    table td p {
        min-width: 160px;
        font-size: 0.6em;
    }
    table td div#qrcode img {
        max-width: 140px;  
    }
}